
<link rel="stylesheet" href="/css/studentList.css">

<div class="card text-center w-50 mx-auto">  
    <div class="card-body">
      <h2 class="card-title text-capitalize"><%= interview_profile.title%></h2>
      <h4 class="card-title text-capitalize text-danger"><%= interview_profile.companyName%> </h4>
      <h5><%= interview_profile.date%></h5>
      <p class="card-text"><%= interview_profile.discription%></p>
      
    </div>
</div>
  
<br>
 <form action="/interviews/apply-interview/<%=interview_profile.id %>" class="text-center" method="post">
   <select name="apply-interview" id="">
    <% for(i of students){%>
      <option value="<%=i.id%>"><%=i.name%> - <%=i.placement_status%></option>
    <%}%>
   </select>
   <input type="submit" class="btn btn-primary" value="Apply Now">
 </form>
<br>
<br>
 <h2 style="text-align:center">Students Who applied for this job </h2>
<br>
<table class="table table-hover table-striped text-center table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">College</th>
            <th scope="col">Placement Status</th>
            <th scope="col" colspan="3">Final Scores </th>
        </tr>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col" >DSA</th>
          <th scope="col" >WEB-D</th>
          <th scope="col" >REACT</th>
      </tr>
    </thead>
    <tbody>
        <%for(i of interview_profile.students){%>
          <%for(j of students){ if(j.id==i){ data=j%>
            <tr>
                <th scope="row"></th>
                <td><a href="/students/profile/<%=data.id%>"><%=data.name%></a></td>
                <td><%=data.college%></td>
                <td><%=data.placement_status%></td>
                <td><%=data.dsa_score%></td>
                <td><%=data.webd_score%></td>
                <td><%=data.react_score%></td>
            </tr>   
        <%}}}%>
    </tbody>

</table>



