<link rel="stylesheet" href="/css/studentList.css">
<h2 style="text-align:center">Students List </h2>
<br>
<a href="/students/addStudent" class="btn btn-success mg-center" > Add Student</a><br><br><br>

<table class="table table-hover table-striped table-dark text-center">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">College</th>
            <th scope="col">Batch</th>
            <th scope="col">Placement Status</th>
            <th scope="col" colspan="3">Final Scores (DSA, WEB-D, REACT)</th>
        </tr>
    </thead>
    <tbody>
        <%for(i of students){%>
            <tr>
                <th scope="row" class="counter"></th>
                <td><a href="/students/profile/<%=i.id%>"><%=i.name%></a></td>
                <td><%=i.college%></td>
                <td><%=i.batch%></td>
                <td><%=i.placement_status%></td>
                <td><%=i.dsa_score%></td>
                <td><%=i.webd_score%></td>
                <td><%=i.react_score%></td>
            </tr>   
        <%}%>
    </tbody>

</table>